#chat_screen {
  background: #abc1d1;
  height: 1100vh;
}

#chat_screen .status-bar,
#chat_screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

#chat_screen .alt-header {
  top: 5px;
  background: #abc1d1;
  z-index: 1;
}

.main-chat {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#chat_screen .status-bar {
  z-index: 2;
}

.chat__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 30px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  margin-bottom: 6px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 12px 12px;
  border-radius: 12px;
  border-top-left-radius: 0px;
}

.message__time {
  font-size: 12px;
  margin-left: 10px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  margin-left: 10px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding-left: 10px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -11px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 35px;
  top: 5px;
  font-size: 25px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
